---
layout: default
---

<section id="cases">
      <div class="container-fluid" style="background-image: url(https://res.cloudinary.com/tssimmi/image/fetch/f_auto,q_auto/c_scale,w_auto,dpr_auto/https://www.checkworkrights.com.au/assets/img/images/{{page.img}})">
          <div class="row justify-content-center">
              <div class="col-lg-6 col-12 text-center tile">
                  <h1 class="lead">{{page.title}}</h1>
                  <h3>{{page.description}}</h3>
                </div>
          </div>
    </div>
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-9 col-12">
                {{content}}
              </div>
          </div>
      </div>
    </section>