<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
<!--meta-->
  <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="theme-color" content="#2f4052">
  <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{site.url}}/assets/img/images/{{page.img}}">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<meta property="og:site_name" content="{{site.title}}">
<meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="{{ "icon.png"  | relative_url }}"/>
<!--links-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,400|Raleway:200,400" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="{{ "/assets/js/jquery-3.3.1.min.js" | relative_url }}"></script>   
  <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/plugins.js" | relative_url }}"></script>
<!--Tags-->
<meta name="google-site-verification" content="N3FFer-3_ON0X067F7r8hmlCp5LhiMSNEtJQR0-mBdg" />    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W8LJVDS');</script>
<!-- End Google Tag Manager -->

<meta name="google-site-verification" content="zT3vGFDoiw4gHT3CaExmiEVE4GpsT5QVfPhxCXAPpcQ" />
    </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8LJVDS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
{% include nav.html %}
    
  {{content}} 

<footer class="bluebg">
{% if page.url == '/contact' %}
{% include contact.html %}
{% endif %}
    <!--ACTUAL footer-->
    <div id="footerlinks" class="container-fluid"> 
    <div class="row">
    <div class="col-12 col-lg-3"><img style="margin-bottom:20px;" src="https://res.cloudinary.com/tssimmi/image/fetch/f_auto,q_auto/c_scale,w_auto,dpr_auto/https://www.checkworkrights.com.au/assets/img/Block-Logo_CheckWorkRightscopy-01.svg" height="30px"  alt="Checkworkrights Logo"><a href="/policies"><h3>Legal Information</h3></a></div>
        <div class="col-12 col-lg-3">
            
            <h3>Get in Contact</h3><ul><li><a href="mailto:hello@checkworkrights.com.au">Email</a></li><li>Call (03) 9421 1020</li><li><a href="/#introduction">About</a></li><li><a href="/support">Support</a></li></ul></div>
    <div class="col-12 col-lg-3">
        
        <h3>Read More</h3>
        <ul>
            <a href="/resources"><li>Visa Resources</li></a>
            <a href="/media"><li>Media</li></a>
        </ul>
        </div>
    <div class="col-12 col-lg-3">
        
        <h3>Partners</h3>
        <ul>
        <a href="https://www.tssimmigration.com.au/"><li><span class="text-red">TSS Immigration</span><br/>Immigration advice and processing</li></a>
        </ul></div>
    </div>
    </div>
</footer>
    <a class="btn-demo" href="https://www.checkworkrights.com.au/try-checkworkrights">Try Checkworkrights</a>
  <script src="{{ "/assets/js/plugins.js" | relative_url }}"></script>
{% if page.url == '/' %}
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
{% endif %}
{% include lazyload.html %}
</body>
</html>