---
layout: default
---

<section id="policy">
      <div class="container-fluid" style="background-image: url(/assets/img/images/{{page.img}})">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-12 text-center">
                  <h1 class="tile">{{page.title}}</h1>
                </div>
          </div>
    </div>
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-12">
                {{content}}
                  <hr/>
                  <p>Published: {{page.date | date: "%B %d, %Y"}}</p>
                  <hr/>
              </div>
{% include whatiscwr.html %}
          </div>
      </div>
    </section>