---
layout: default
---

<section id="resources">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-12 text-center">
                  <img style="width:100%" src="/assets/img/images/{{page.img}}" alt="{{page.title}}">
                  <h1>{{page.title}}</h1>
                </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-8 col-12">
                {{content}}
              </div>
          </div>
      </div>
    </section>